*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: "outfit", "sans-serif";    
}

#componente{
    background-color: hsl(0, 0%, 100%);
    width: 310px;
    /* width: 350px; */
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 12px 12px 12px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px hsl(216, 15%, 48%)
}

#componente img{
    width: 280px;
    /* width: 326px; */
    border-radius: 10px;
    margin-bottom: 10px;
}

#text{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 12px 30px 12px;    
}

#text h2{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

#text p{
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    margin-top: 12px;
    font-size: 15px;   
    letter-spacing: 0.7px;    
}

#atributos span{
    color: #68778d;
}

#atributos{   
    text-align: center;
}

#atributos p{
    color: #2e31ee;
    margin-bottom: 5px;
}